.signIn
{
    background-image: url("");/*write background image url*/
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm
{

    background-color: #ffffff4d;

    padding: 50px;
    border: 1px solid rgb(129, 121, 121);
    border-radius: 1px;
}

.SignInlogo{

    width: 300px;
    object-fit: contain;
    flex: 1;
    margin-right: 11%;
    padding: 10px 0px;
}

.loginForm2
{
    
    background-color: #ffffff4d;
    padding: 20px;
    margin-top: 5px;
    border: 1px solid rgb(129, 121, 121);
    border-radius: 1px;
}


#loginbtn
{
    
    background-color: #1773EA;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
    cursor: pointer;
    margin-top: 8px;

}

